<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
    <link rel="manifest" href="favicons/site.webmanifest">
    <link rel="mask-icon" href="favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- css styles -->
    <link rel="stylesheet" href="styles/body.css">
    <link rel="stylesheet" href="styles/videostyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap" rel="stylesheet">

    <!-- Primary Meta Tags -->
    <title><%= name %></title>
    <meta name="title" content="<%= name %>">
    <meta name="description" content="<%= overview %>">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= link %>">
    <meta property="og:title" content="<%= name %>">
    <meta property="og:description" content="<%= overview %>">
    <meta property="og:image" content="<%= poster %>">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="<%= link %>">
    <meta property="twitter:title" content="<%= name %>">
    <meta property="twitter:description" content="<%= overview %>">
    <meta property="twitter:image" content="<%= poster %>">
</head>
<body>

<!-- The background -->
<div id="background"><img src="src/ninoback.jpg"></div>

<!-- The preload div -->
<div id="loader-background" class="showLoaderTwo">
    <div id="load-enforcer">
        <img class="img1" src="src/ninoback.jpg">
        <img class="img2" src="src/loading.gif" alt="">
    </div>
</div>

<!-- The header Block -->
<div id="header-container">
    <div id="header">
        <div id="logo">nino</div>
        <div id="search-div">
            <form id="search-form">
                <input type="text" placeholder="Search" id="search-input">
                <button id="search-button">
                    <svg viewBox="0 0 24 24" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <circle cx="11" cy="11" r="8"></circle>
                        <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                    </svg>
                </button>
            </form>
        </div>
        <div id="user-account">
            <button id="account-image">
                <svg viewBox="0 0 512 512">
                    <circle id="ac-circle" cx="256" cy="256" r="256"/>
                    <path id="ac-path" d="M442.272,405.696c-11.136-8.8-24.704-15.136-39.424-18.208l-70.176-14.08
                            c-7.36-1.408-12.672-8-12.672-15.68v-16.096c4.512-6.336,8.768-14.752,13.216-23.552c3.456-6.816,8.672-17.088,11.264-19.744
                            c14.208-14.272,27.936-30.304,32.192-50.976c3.968-19.392,0.064-29.568-4.512-37.76c0-20.448-0.64-46.048-5.472-64.672
                            c-0.576-25.216-5.152-39.392-16.672-51.808c-8.128-8.8-20.096-10.848-29.728-12.48c-3.776-0.64-8.992-1.536-10.912-2.56
                            c-17.056-9.216-33.92-13.728-54.048-14.08c-42.144,1.728-93.952,28.544-111.296,76.352c-5.376,14.56-4.832,38.464-4.384,57.664
                            l-0.416,11.552c-4.128,8.064-8.192,18.304-4.192,37.76c4.224,20.704,17.952,36.768,32.416,51.232
                            c2.368,2.432,7.712,12.8,11.232,19.648c4.512,8.768,8.8,17.152,13.312,23.456v16.096c0,7.648-5.344,14.24-12.736,15.68l-70.24,14.08
                            c-14.624,3.104-28.192,9.376-39.296,18.176c-3.456,2.784-5.632,6.848-5.984,11.264s1.12,8.736,4.096,12.032
                            C115.648,481.728,184.224,512,256,512s140.384-30.24,188.16-83.008c2.976-3.296,4.48-7.648,4.096-12.064
                            C447.904,412.512,445.728,408.448,442.272,405.696z"/>
                </svg>
            </button>
        </div>
    </div>
</div>

<!-- The log out confirm block -->
<div id="log-holder">
    <div id="logout-container">
        <div id="log-message">
            <span>Clicking yes would log you out, do you wish to proceed?</span>
        </div>
        <ul id="logout-list">
            <li id="logout-confirm">yes</li>
            <li id="logout-reject">no</li>
        </ul>
    </div>
</div>

<!-- The random block -->
<div id="recent-container"></div>

<!-- The principal block -->
<div id="primary-block">
    <div id="mov-container" class="basic-container" style="display: none">
        <div class="basic-span"><span>movies</span></div>
        <ul id="movies-list" class="basic-list"></ul>
    </div>
    <div id="tv-container" class="basic-container" style="display: none">
        <div class="basic-span"><span>tv shows</span></div>
        <ul id="tv-list" class="basic-list"></ul>
    </div>
</div>

<!-- The search block -->
<div id="search-output">
    <ul id="search-result"></ul>
</div>

<!-- The information block -->
<div id="info-block">
    <div id="info-background"><img src=""></div>
    <svg id="info-back-button" viewBox="0 0 512 512">
        <path d="M256,0C114.844,0,0,114.844,0,256s114.844,256,256,256s256-114.844,256-256S397.156,0,256,0z M256,490.667
				C126.604,490.667,21.333,385.396,21.333,256S126.604,21.333,256,21.333S490.667,126.604,490.667,256S385.396,490.667,256,490.667
				z"/>
        <path d="M394.667,245.333H143.083l77.792-77.792c4.167-4.167,4.167-10.917,0-15.083c-4.167-4.167-10.917-4.167-15.083,0l-96,96
				c-4.167,4.167-4.167,10.917,0,15.083l96,96c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125
				c4.167-4.167,4.167-10.917,0-15.083l-77.792-77.792h251.583c5.896,0,10.667-4.771,10.667-10.667S400.563,245.333,394.667,245.333
				z"/>
    </svg>
    <div id="info-holder">
        <img id="info-logo" src="" alt="">
        <div id="small-info">
            <div id="play-button" class="play small-button">
                <svg viewBox="0 0 494.148 494.148">
                    <g>
                        <path d="M405.284,201.188L130.804,13.28C118.128,4.596,105.356,0,94.74,0C74.216,0,61.52,16.472,61.52,44.044v406.124
                        c0,27.54,12.68,43.98,33.156,43.98c10.632,0,23.2-4.6,35.904-13.308l274.608-187.904c17.66-12.104,27.44-28.392,27.44-45.884
                        C432.632,229.572,422.964,213.288,405.284,201.188z" data-original="#000000" class="active-path"
                              data-old_color="#000000"/>
                    </g>
                </svg>
                <span>Play</span>
            </div>
            <div id="shuffle-play" class="play small-button">
                <svg viewBox="0 0 494.148 494.148">
                    <g>
                        <g>
                            <path d="M506.24,371.7l-96-80c-4.768-4-11.424-4.8-17.024-2.208c-5.632,2.656-9.216,8.288-9.216,14.496v48h-26.784
                                c-22.208,0-42.496-11.264-54.272-30.08l-103.616-165.76c-23.52-37.664-64.096-60.16-108.544-60.16H0v64h90.784
                                c22.208,0,42.496,11.264,54.272,30.08l103.616,165.76c23.552,37.664,64.128,60.16,108.544,60.16H384v48
                                c0,6.208,3.584,11.84,9.216,14.496c2.144,0.992,4.48,1.504,6.784,1.504c3.68,0,7.328-1.248,10.24-3.712l96-80
                                c3.68-3.04,5.76-7.552,5.76-12.288C512,379.252,509.92,374.74,506.24,371.7z"/>
                        </g>
                    </g>
                    <g>
                        <g>
                            <path d="M506.24,115.7l-96-80c-4.768-3.968-11.424-4.8-17.024-2.176C387.584,36.116,384,41.78,384,47.988v48h-26.784
                                c-44.448,0-85.024,22.496-108.544,60.16l-5.792,9.28l37.728,60.384l22.336-35.744c11.776-18.816,32.064-30.08,54.272-30.08H384v48
                                c0,6.208,3.584,11.872,9.216,14.496c2.144,0.992,4.48,1.504,6.784,1.504c3.68,0,7.328-1.28,10.24-3.712l96-80
                                c3.68-3.04,5.76-7.552,5.76-12.288C512,123.252,509.92,118.74,506.24,115.7z"/>
                        </g>
                    </g>
                    <g>
                        <g>
                            <path d="M167.392,286.164l-22.304,35.744c-11.776,18.816-32.096,30.08-54.304,30.08H0v64h90.784
			                    c44.416,0,84.992-22.496,108.544-60.16l5.792-9.28L167.392,286.164z"/>
                        </g>
                    </g>
                </svg>
                <span>Shuffle</span>
            </div>
            <div id="hls-play" class="small-button">
                <svg viewBox="0 0 24 24">
                    <polygon points="5 3 19 12 5 21 5 3"></polygon>
                </svg>
                <span>HLS (Beta!)</span>
            </div>
            <div id="seen" class="small-button">
                <svg viewBox="0 0 24 24" id="notSeenSvg">
                    <polyline points="9 11 12 14 22 4"></polyline>
                    <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path>
                </svg>
                <svg viewBox="0 0 426.667 426.667" id="seenSvg">
                    <g>
                        <path d="M421.876,56.307c-6.548-6.78-17.352-6.968-24.132-0.42c-0.142,0.137-0.282,0.277-0.42,0.42L119.257,334.375
                            l-90.334-90.334c-6.78-6.548-17.584-6.36-24.132,0.42c-6.388,6.614-6.388,17.099,0,23.713l102.4,102.4
                            c6.665,6.663,17.468,6.663,24.132,0L421.456,80.44C428.236,73.891,428.424,63.087,421.876,56.307z"/>
                    </g>
                </svg>
                <span>Seen</span>
            </div>
            <div id="add-myList">
                <svg viewBox="0 0 409.6 409.6" id="addToList">
                    <g>
                        <path d="M392.533,187.733H221.867V17.067C221.867,7.641,214.226,0,204.8,0s-17.067,7.641-17.067,17.067v170.667H17.067
                                C7.641,187.733,0,195.374,0,204.8s7.641,17.067,17.067,17.067h170.667v170.667c0,9.426,7.641,17.067,17.067,17.067
                                s17.067-7.641,17.067-17.067V221.867h170.667c9.426,0,17.067-7.641,17.067-17.067S401.959,187.733,392.533,187.733z"/>
                    </g>
                </svg>
                <svg viewBox="0 0 426.667 426.667" id="alreadyList">
                    <g>
                        <path d="M421.876,56.307c-6.548-6.78-17.352-6.968-24.132-0.42c-0.142,0.137-0.282,0.277-0.42,0.42L119.257,334.375
                            l-90.334-90.334c-6.78-6.548-17.584-6.36-24.132,0.42c-6.388,6.614-6.388,17.099,0,23.713l102.4,102.4
                            c6.665,6.663,17.468,6.663,24.132,0L421.456,80.44C428.236,73.891,428.424,63.087,421.876,56.307z"/>
                    </g>
                </svg>
                <svg viewBox="0 0 409.806 409.806" id="removeList">
                    <g>
                        <path d="M228.929,205.01L404.596,29.343c6.78-6.548,6.968-17.352,0.42-24.132c-6.548-6.78-17.352-6.968-24.132-0.42
                            c-0.142,0.137-0.282,0.277-0.42,0.42L204.796,180.878L29.129,5.21c-6.78-6.548-17.584-6.36-24.132,0.42
                            c-6.388,6.614-6.388,17.099,0,23.713L180.664,205.01L4.997,380.677c-6.663,6.664-6.663,17.468,0,24.132
                            c6.664,6.662,17.468,6.662,24.132,0l175.667-175.667l175.667,175.667c6.78,6.548,17.584,6.36,24.132-0.42
                            c6.387-6.614,6.387-17.099,0-23.712L228.929,205.01z"/>
                    </g>
                </svg>
                <span>My List</span>
            </div>
            <div id="trailer" class="small-button">
                <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round">
                    <rect x="3" y="3" width="7" height="7"></rect>
                    <rect x="14" y="3" width="7" height="7"></rect>
                    <rect x="14" y="14" width="7" height="7"></rect>
                    <rect x="3" y="14" width="7" height="7"></rect>
                </svg>
                <span>Trailer</span>
            </div>
            <div id="review-cont">
                <div id="review-holder">Rating:</div>
                <div id="review">
                    <div id="review-fill"></div>
                </div>
            </div>
        </div>
        <div id="info-overview"><span></span></div>
        <div id="options-holder">
            <ul id="info-list"></ul>
            <p id="close-season">x</p></div>
        <div id="divider">
            <div id="movie-position"></div>
        </div>
        <ul id="info-response-list"></ul>
        <div id="info-extra">
            <div id="info-full-overview">
                <div id="item-title"></div>
                <br>
                <span id="item-overview"></span>
            </div>
            <div id="info-extras">
                <div id="info-item-release"></div>
                <div id="item-cast">
                    <div>Cast:</div>
                    <ul id="cast"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="fadeLoader" id="person-holder">
        <div id="personInfo">
            <span id="person-name"></span>
            <img id="person-photo" src="">
        </div>
        <ul id="personInfo-list">
            <li id="person-opt-ovr" data-id="Overview">Overview</li>
            <li id="person-opt-vid" data-id="Videography">Videography</li>
        </ul>
        <div class="divider2"></div>
        <div id="per-span-div"><span id="person-bio"></span></div>
        <div id="videography">
            <div class="person-span per-mov"><span>movies</span></div>
            <ul id="movie-roles" class="basic-list per-mov"></ul>
            <div class="person-span per-tv"><span>tv shows</span></div>
            <ul id="tv-roles" class="basic-list per-tv"></ul>
            <div class="person-span per-prod"><span>productions</span></div>
            <ul id="crew-roles" class="basic-list per-prod"></ul>
        </div>
    </div>
    <div class="fadeLoader" id="distributor-holder">
        <div id="prod_logo">
            <span id="prod_name"></span>
            <img src="" id="prod_img">
        </div>
        <div class="divider2"></div>
        <div>
            <div class="person-span prods-mov"><span>movies</span></div>
            <ul id="movie-prods" class="basic-list prods-mov"></ul>
            <div class="person-span prods-tv"><span>tv shows</span></div>
            <ul id="tv-prods" class="basic-list prods-tv"></ul>
        </div>
    </div>
</div>

<!-- Video block -->
<div id="video-block">
    <div class="video-container">
        <video preload="metadata"></video>
        <img src="" id="previewFrame">
        <div id="foncer"><img id="buffering" src="src/loading.gif"></div>
        <div id="castHolder">
            <div id="holder">
                <svg viewBox="0 0 24 24">
                    <path d="M2 16.1A5 5 0 0 1 5.9 20M2 12.05A9 9 0 0 1 9.95 20M2 8V6a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2h-6"></path>
                    <line x1="2" y1="20" x2="2.01" y2="20"></line>
                </svg>
                <ul>
                    <li style="font-size: 20px">Currently casting media</li>
                    <li style="font-size: small">to: <span id="castDevice"></span></li>
                </ul>
            </div>
        </div>
        <div class="controls-container">
            <svg id="back-button" viewBox="0 0 512 512">
                <path d="M256,0C114.844,0,0,114.844,0,256s114.844,256,256,256s256-114.844,256-256S397.156,0,256,0z M256,490.667
				C126.604,490.667,21.333,385.396,21.333,256S126.604,21.333,256,21.333S490.667,126.604,490.667,256S385.396,490.667,256,490.667
				z"/>
                <path d="M394.667,245.333H143.083l77.792-77.792c4.167-4.167,4.167-10.917,0-15.083c-4.167-4.167-10.917-4.167-15.083,0l-96,96
				c-4.167,4.167-4.167,10.917,0,15.083l96,96c2.083,2.083,4.813,3.125,7.542,3.125c2.729,0,5.458-1.042,7.542-3.125
				c4.167-4.167,4.167-10.917,0-15.083l-77.792-77.792h251.583c5.896,0,10.667-4.771,10.667-10.667S400.563,245.333,394.667,245.333
				z"/>
            </svg>
            <div id="volume-container">
                <svg viewBox="0 0 24 24" id="volume">
                    <polygon points="11 5 6 9 2 9 2 15 6 15 11 19 11 5"></polygon>
                    <path d="M15.54 8.46a5 5 0 0 1 0 7.07"></path>
                </svg>
                <div id="volume-groove">
                    <div id="volume-fill"></div>
                    <div id="volume-head"></div>
                </div>
                <svg id="downloadBtn" viewBox="0 0 299.998 299.998">
                    <g>
                        <path d="M149.995,0C67.156,0,0,67.159,0,149.997c0,82.837,67.156,150,149.995,150s150.003-67.163,150.003-150
                            C299.997,67.159,232.834,0,149.995,0z M110.967,105.357c2.075-2.075,4.793-3.112,7.511-3.112c2.718,0,5.434,1.037,7.508,3.112
                            l13.297,13.295v-3.911V62.477c0-5.867,4.754-10.621,10.621-10.621s10.621,4.754,10.621,10.621v52.263v4.63l4.63-4.63l9.386-9.384
                            c2.075-2.075,4.79-3.112,7.508-3.112s5.436,1.037,7.511,3.112c2.552,2.549,3.522,6.079,2.933,9.384
                            c0,0.003-0.003,0.005-0.003,0.008c-0.044,0.239-0.119,0.469-0.179,0.703c-0.091,0.366-0.189,0.729-0.322,1.084
                            c-0.088,0.239-0.189,0.472-0.296,0.705c-0.166,0.371-0.358,0.726-0.568,1.079c-0.112,0.187-0.215,0.373-0.34,0.552
                            c-0.363,0.524-0.76,1.032-1.227,1.499l-15.115,15.115l-16.591,16.591c-2.077,2.075-4.793,3.105-7.508,3.105
                            c-0.026,0-0.052,0-0.078,0s-0.054,0-0.078,0c-2.715,0-5.431-1.03-7.508-3.105l-16.591-16.591l-15.115-15.115
                            c-0.467-0.467-0.864-0.973-1.222-1.496c-0.127-0.184-0.231-0.373-0.345-0.56c-0.207-0.35-0.397-0.703-0.563-1.069
                            c-0.109-0.239-0.213-0.475-0.301-0.718c-0.127-0.348-0.223-0.7-0.314-1.056c-0.062-0.246-0.143-0.485-0.187-0.734
                            C107.444,111.436,108.412,107.906,110.967,105.357z M231.574,209.315h-0.003c0,14.337-14.057,25.568-32.005,25.568h-99.132
                            c-17.945,0-32.005-11.23-32.005-25.568V140.31c0-12.117,10.058-21.988,24.004-24.761c0.604,5.981,3.224,11.526,7.534,15.834
                            l4.108,4.108h-3.641c-7.265,0-11.256,3.621-11.256,4.819v69.005c0,1.201,3.992,4.819,11.256,4.819h99.135
                            c7.265,0,11.256-3.621,11.256-4.819V140.31c0-1.198-3.992-4.819-11.256-4.819h-3.12l4.111-4.111
                            c4.282-4.279,6.894-9.786,7.516-15.727c13.681,2.913,23.498,12.69,23.498,24.66V209.315z"/>
                    </g>
                </svg>
                <svg viewBox="0 0 24 24" fill="none" id="shareFrame">
                    <path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"></path>
                    <polyline points="16 6 12 2 8 6"></polyline>
                    <line x1="12" y1="2" x2="12" y2="15"></line>
                </svg>
                <svg id="airPlay" viewBox="0 0 24 24">
                    <path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path>
                    <polygon points="12 15 17 21 7 21 12 15"></polygon>
                </svg>
                <svg id="castButton" viewBox="0 0 24 24">
                    <path d="M2 16.1A5 5 0 0 1 5.9 20M2 12.05A9 9 0 0 1 9.95 20M2 8V6a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2h-6"></path>
                    <line x1="2" y1="20" x2="2.01" y2="20"></line>
                </svg>
            </div>

            <div class="content-image"></div>
            <div class="controls">
                <button class="rewind">
                    <svg viewBox="0 0 24 24">
                        <path d="M12.5,3C17.15,3 21.08,6.03 22.47,10.22L20.1,11C19.05,7.81 16.04,5.5 12.5,5.5C10.54,5.5 8.77,6.22 7.38,7.38L10,10H3V3L5.6,5.6C7.45,4 9.85,3 12.5,3M10,12V22H8V14H6V12H10M18,14V20C18,21.11 17.11,22 16,22H14A2,2 0 0,1 12,20V14A2,2 0 0,1 14,12H16C17.11,12 18,12.9 18,14M14,14V20H16V14H14Z"/>
                    </svg>
                </button>
                <button id="play-pause">
                    <svg id="playing" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <polygon points="5 3 19 12 5 21 5 3"></polygon>
                    </svg>
                    <svg id="paused" viewBox="0 0 24 24">
                        <rect x="6" y="4" width="4" height="16"></rect>
                        <rect x="14" y="4" width="4" height="16"></rect>
                    </svg>
                </button>
                <button class="fast-forward">
                    <svg viewBox="0 0 24 24">
                        <path d="M10,12V22H8V14H6V12H10M18,14V20C18,21.11 17.11,22 16,22H14A2,2 0 0,1 12,20V14A2,2 0 0,1 14,12H16C17.11,12 18,12.9 18,14M14,14V20H16V14H14M11.5,3C14.15,3 16.55,4 18.4,5.6L21,3V10H14L16.62,7.38C15.23,6.22 13.46,5.5 11.5,5.5C7.96,5.5 4.95,7.81 3.9,11L1.53,10.22C2.92,6.03 6.85,3 11.5,3Z"/>
                    </svg>
                </button>
                <div class="progress-controls">
                    <div class="time-remaining" id="timeSeen">00:00</div>
                    <div class="progress-bar">
                        <div class="watched-bar"></div>
                        <div class="playhead"></div>
                    </div>
                    <div class="time-remaining" id="time-left">00:00</div>
                </div>
                <button class="next" id="nextButton">
                    <svg viewBox="0 0 24 24">
                        <polygon points="5 4 15 12 5 20 5 4"></polygon>
                        <line x1="19" y1="5" x2="19" y2="19"></line>
                    </svg>
                </button>
                <button id="sub-button">
                    <svg height="512pt" viewBox="0 -71 512 512" width="512pt">
                        <path d="m407 0h-302c-57.898438 0-105 47.101562-105 105v160.679688c0 57.894531 47.101562 105 105 105h302c57.898438 0 105-47.105469 105-105v-160.679688c0-57.898438-47.101562-105-105-105zm75 265.679688c0 41.351562-33.644531 75-75 75h-302c-41.355469 0-75-33.648438-75-75v-160.679688c0-41.355469 33.644531-75 75-75h302c41.355469 0 75 33.644531 75 75zm0 0"/>
                        <path d="m399.804688 117.316406h-197.113282c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15h197.113282c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15zm0 0"/>
                        <path d="m112.195312 147.316406h45.722657c8.285156 0 15-6.714844 15-15s-6.714844-15-15-15h-45.722657c-8.285156 0-15 6.714844-15 15s6.714844 15 15 15zm0 0"/>
                        <path d="m112.195312 200.339844h197.113282c8.285156 0 15-6.71875 15-15 0-8.285156-6.714844-15-15-15h-197.113282c-8.285156 0-15 6.714844-15 15 0 8.28125 6.714844 15 15 15zm0 0"/>
                        <path d="m399.804688 170.339844h-45.722657c-8.285156 0-15 6.714844-15 15 0 8.28125 6.714844 15 15 15h45.722657c8.285156 0 15-6.71875 15-15 0-8.285156-6.714844-15-15-15zm0 0"/>
                        <path d="m399.804688 223.359375h-197.113282c-8.285156 0-15 6.71875-15 15 0 8.285156 6.714844 15 15 15h197.113282c8.285156 0 15-6.714844 15-15 0-8.28125-6.714844-15-15-15zm0 0"/>
                        <path d="m157.917969 223.359375h-45.722657c-8.285156 0-15 6.71875-15 15 0 8.285156 6.714844 15 15 15h45.722657c8.285156 0 15-6.714844 15-15 0-8.28125-6.714844-15-15-15zm0 0"/>
                    </svg>
                </button>
                <button class="full-screen">
                    <svg class="maximize" viewBox="0 0 24 24">
                        <path d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3">
                        </path>
                    </svg>
                    <svg class="minimize" viewBox="0 0 24 24">
                        <path d="M8 3v3a2 2 0 0 1-2 2H3m18 0h-3a2 2 0 0 1-2-2V3m0 18v-3a2 2 0 0 1 2-2h3M3 16h3a2 2 0 0 1 2 2v3">
                        </path>
                    </svg>
                </button>
            </div>
        </div>
        <div id="video-info">
            <div class="information">
                <label id="video-title"></label>
                <div class="spacer"></div>
                <span id="episodeName"></span>
                <div class="spacer"></div>
                <span id="video-deets"></span>
            </div>
        </div>

        <svg id="playFlash" viewBox="0 0 494.148 494.148">
            <g>
                <path d="M405.284,201.188L130.804,13.28C118.128,4.596,105.356,0,94.74,0C74.216,0,61.52,16.472,61.52,44.044v406.124
            c0,27.54,12.68,43.98,33.156,43.98c10.632,0,23.2-4.6,35.904-13.308l274.608-187.904c17.66-12.104,27.44-28.392,27.44-45.884
            C432.632,229.572,422.964,213.288,405.284,201.188z" data-original="#000000" class="active-path"
                      data-old_color="#000000"/>
            </g>
        </svg>
        <svg id="pauseFlash" viewBox="0 0 24 24">
            <rect x="6" y="4" width="4" height="16"></rect>
            <rect x="14" y="4" width="4" height="16"></rect>
        </svg>
        <div id="skip-recap">Skip Recap</div>

        <div id="upNextContainer">
            <div id="upNext">
                <img src="" alt="" id="upNextImg">
                <span id="countDown"></span>
                <ul id="upNextInfo">
                    <li id="upNextTitle"></li>
                    <li id="upNextOverview"></li>
                </ul>
            </div>
        </div>

        <div id="sub-window">
            <ul id="sub-list">
                <li id="nan">None</li>
                <div class="sub-divider"></div>
                <li id="eng" data-id="en" class="subs">English</li>
                <div class="sub-divider"></div>
                <li id="fre" data-id="fr" class="subs">French</li>
                <div class="sub-divider"></div>
                <li id="ger" data-id="de" class="subs">German</li>
            </ul>
        </div>

        <div id="download-holder">
            <div id="downloadContainer">
                <div id="downMessage">
                    <span id="downMessage-span">Enter an auth key</span>
                    <input type="text" id="auth-key" placeholder="auth key">
                </div>
                <ul id="down-list">
                    <li id="downAccept">download</li>
                    <li id="downReject">exit</li>
                </ul>
            </div>
        </div>

        <div id="shareHolder">
            <div id="shareContainer">
                <div id="shareMessage">
                    <span id="shareMessage-span">Share from current position ?</span>
                    <input type="text" id="shareOut" readonly/>
                </div>
                <ul id="share-list">
                    <li id="shareAccept">yes</li>
                    <li id="shareReject">no</li>
                </ul>
            </div>
        </div>

    </div>
</div>

</body>

<!-- The Javascript dependencies -->
<script src="https://www.youtube.com/iframe_api"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="scripts/cast.js"></script>
<script type="text/javascript" src="scripts/logic.js"></script>
<script type="text/javascript" src="scripts/ninoplayer.js"></script>
</html>